.switch-field {

  border: 1px solid gainsboro;
  display: inline-block;
  border-radius: 29px;
  background-color: #f4f4f5;
  
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
    width: 60px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 19px;
 
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
 
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 29px;
  padding: 19px; 
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}